.event-cards {
  height: 120px;
}

.event-title {
  color: #EE7335;
  font-size: x-large;
  font-weight: bold;
  margin: 5px 10px 15px 0;
}

.event-title:hover {
  color: #34495E;
}

.big-calendar {
  margin-top: 50px;
}

.events-header {
  font-size: 50px;
}

div p {
  font-size: 16px;
}

.rbc-toolbar-label {
  font-size: 24px !important;
}

.new-event-button {
  margin-left: 350px !important;
}