.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.landing-page-markers, .landing-page-markers-heading, .landing-page-markers-text {
  background-color: orange;
  border-radius: 5px;
}

.you-are-here {
  font-size: 32px;
  margin: 0px 30px 30px;
  padding: 0px 30px 30px;
}

.modal-content {
  background-color: orange;
}

.modal-header {
  border-bottom: 0px;
}

.modal-body {
  padding-top: 0px;
}

.close {
 font-size: 32px;
}

.modal-image {
  float: right;
  padding: 0px 30px 0px 0px;
}

.btn {
  margin: 100px;
}
